<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mqtt_POC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>155EF8EC1DBD6369009C606D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155EF9051DBD636B009C606D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>155EF9101DBD636B009C606D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
